/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *			                                                                 *
 *                                Page setup                                 *
 *                                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
div {
	box-sizing: border-box;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *			                                                                 *
 *                               Containers                                  *
 *                                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.container { /* bootstrap mod to match theme conditions */
	max-width: 1140px;
}
.ss2-container-slider {
	width: 100%;
	background-color: #eee;
	overflow: hidden;
}
.ss2-container-slides {
	width: 75%;
	float: left;
	overflow: hidden;
	position: relative; /* needed for abs posititioning of children */
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *			                                                                 *
 *                                 Image                                     *
 *                                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ss2-container-slides img {
	width: 100%;
	height: auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *			                                                                 *
 *                        Navigation (arrows, dots)                          *
 *                                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ss2-arrow-left, .ss2-arrow-right, .ss2-nav-dots {
	float: left;
	text-align: center;
}
.ss2-arrow-left {
	width:10%;
}
.ss2-arrow-left:hover, .ss2-arrow-right:hover {
	background-color: #ccc;
	color: #000;
}
.ss2-arrow-right {
	width:10%;
}
.ss2-nav-dots {
	width:80%;
	background-color: #ccc;
}
.ss2-nav-dots ul {
	list-style-type: none;
	padding: 0; margin: 0;
}
.ss2-nav-dots ul li {
	display: inline;
}
.ss2-arrow-left, .ss2-arrow-right, .ss2-nav-dots {
	font-size: 15px;
	color: #ccc;
	background-color: #000;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *			                                                                 *
 *                               Miscellaneous                               *
 *                                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ss2-clearfix {
	clear:both;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *			                                                                 *
 *                                Categories                                 *
 *                                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ss2-categories ul.post-categories {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.ss2-categories ul.post-categories li {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 1px 5px;
	background-color: #ec4838;
	text-transform: uppercase;
}
.ss2-categories a:link, .ss2-categories a:visited, .ss2-categories a:hover, .ss2-categories a:active {
	color: #fff!important; /* force the white on hover just here. hover is #ccc & being controlled in SOME stylestylesheet somewhere */
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *			                                                                 *
 *                                Excerpt                                    *
 *                                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ss2-excerpt {
	background-color: #000;
	color: #fff;
	padding: 5px;
}
.ss2-excerpt p {
	padding: 0; margin: 0; /* wordpress adds a <p> tag we need to compensate for */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; /* for graceful truncation DOESN"T WORK */
	font-size: 16px;
	display:block;
	width:100%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *			                                                                 *
 *                                  Titles                                   *
 *                                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ss2-container-titles {
	width: 25%;
	float: left;
	background-color: #fff;
	/* height needs to be contingent upon .ss2-container-slides height */
}
.ss2-container-titles-no-float { /* for toggle when window resizes below break-point */
	width: 100%;
	float: none;
	background-color: #fff;
}
.on-slide-title {
	display:none;
}
.ss2-title-and-date {
	margin-left: 5px; /* no right margin so it's flush with any layout */
	padding: 5px;
	border-bottom: 1px solid #eee;
	overflow: hidden; /* just in case title is too long */
}
.ss2-title-and-date span {
	display: block;
}
.ss2-title-and-date .title {
	font-size: 14px;
	word-wrap: break-word!important;
}
.ss2-date {
	font-size: 10px;
	text-transform: uppercase;
}
.current { /* Highlighted title tab styling */
	background-color: #eee;
	color: #000;
}
.prev {
	/*background-color: green;*/
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *			                                                                 *
 *                             Slides ul resets                              *
 *                                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ss2-slide-list {
	list-style: none;
	padding: 0; margin: 0;
	position: relative;
}
.ss2-slide-list li .ss2-categories {
	position: absolute;
	top: 0; left: 0;
	z-index: 90;
}
.ss2-slide-list li img {
	float: left; /* in order for image to go under categories */
	z-index: 89;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *			                                                                 *
 *           Pause "button" (applied to a span added when testing)           *
 *                                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.pause {
	padding: 5px;
	background-color: #ccc;
	border-top: 1px solid #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #888;
	border-bottom: 1px solid #666;
}